@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf);
    // font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf);
    // font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url(../assets/fonts/AvenirNextLTPro-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

// color variables

$bandsite-black: #323232;
$silver: #AFAFAF;
$white: #FFFFFF;
$bandsite-darkblack: #000000;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

//responsiveness breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;