@use './partials/variables' as *;
@use './partials/mixins' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'AvenirNextLTPro-Regular';
    // @include page-padding;
}

.header{
    background-color: $bandsite-black;

    &__logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.6rem 0 0.45rem 0;
    }

    &__logo-link {
        color: $white;
        text-decoration: none;
        font-size: 3.6rem;
    }
}

.navbar {
    
    &__list {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        width: 50%;
        padding: 0 2rem 0 2rem;

        &--active {
            border-bottom: 6px solid $white;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 1.85rem;
        color: $mercury;
        line-height: 2;
        padding-bottom: 1rem;
        letter-spacing: 0.02em;
        display: flex;
        justify-content: center;

        &--active {
            font-family: 'AvenirNextLTPro-demi';
            color: $white;
        }
    }

}

.hero {
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    &__heading {
        padding: 11.6rem 2.2rem;
        letter-spacing: 0.1rem;
        margin: auto 0;
        font-family: 'AvenirNextLTPro-Demi';
        color: $white;
        font-size: 3.5rem;
    }
    
    // width: 100%;
    // height: 27.9rem;
    


    
}
.hero__container {opacity: 0.5;
    background: #323232;}

.intro {

    &__heading {
        @include page-padding;
        margin-bottom: 0;
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 3.56rem;
        // letter-spacing: 0.0rem;
    }

    &__image {
        @include page-padding;
        margin-top: 1.7rem;
        width: 100%;
        height: 23.2rem;
    }

    &__paragraph {
        @include page-padding;
        margin-top: 1.4rem;
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 2rem;
        line-height: 1.77;
        letter-spacing: 0.08rem;
    }
}

.about {

    &__heading {
        @include page-padding;
        margin-top: 3.2rem;
        font-size: 2.1rem;
    }

    &__paragraph {
        @include page-padding;
        margin-top: 2rem;
        font-size: 2rem;
        line-height: 1.4;
    }
}

.photos {
    background-color: $alabaster;
    padding-bottom: 1rem;

    &__heading {
        @include page-padding;
        padding-top: 3rem;
        margin: 1rem 0;
        font-family: 'AvenirNextLTPro-Demi';
        font-size: 3.56rem;
    }

    &__img {
        @include page-padding;
        width: 100%;
        margin: 1rem 0;
    }
}

.footer {
    background-color: $bandsite-black;
    color: $white;

    &__info {
        display: flex;
        flex-direction: column;
    }
}